<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>cn.et.controller.dining_table.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/DeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeskServlet</display-name>
    <servlet-name>AddDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.dining_table.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskServlet</servlet-name>
    <url-pattern>/AddDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeskServlet</display-name>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.dining_table.DeleteDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <url-pattern>/DeleteDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeServlet</display-name>
    <servlet-name>FoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.food_type.FoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeServlet</servlet-name>
    <url-pattern>/FoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFTServlet</display-name>
    <servlet-name>AddFTServlet</servlet-name>
    <servlet-class>cn.et.controller.food_type.AddFTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFTServlet</servlet-name>
    <url-pattern>/AddFTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodTypeServlet</display-name>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.food_type.DeleteFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <url-pattern>/DeleteFoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>cn.et.controller.food.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.food.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.food.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodTypeServlet</display-name>
    <servlet-name>UpdateFoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.food_type.UpdateFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodTypeServlet</servlet-name>
    <url-pattern>/UpdateFoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.food.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeskServlet</display-name>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.dining_table.UpdateDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <url-pattern>/UpdateDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>cn.et.controller.food.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>